<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>F-Script</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>fs.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.fscript.fscriptapp</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>F-Script</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.1</string>
	<key>LSEnvironment</key>
	<dict/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 1998-2009 Philippe Mougin. </string>
	<key>NSMainNibFile</key>
	<string>fs.nib</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>F-Script/Execute Selection</string>
			</dict>
			<key>NSMessage</key>
			<string>execute</string>
			<key>NSPortName</key>
			<string>F-Script</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>F-Script/View/Put Command</string>
			</dict>
			<key>NSMessage</key>
			<string>putCommand</string>
			<key>NSPortName</key>
			<string>F-Script</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>F-Script/View/Put Command (Ret=execute)</string>
			</dict>
			<key>NSMessage</key>
			<string>putCommand</string>
			<key>NSPortName</key>
			<string>F-Script</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>DECOMPOSE</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>F-Script/View/Put Command (Ret=newline)</string>
			</dict>
			<key>NSMessage</key>
			<string>putCommand</string>
			<key>NSPortName</key>
			<string>F-Script</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSUserData</key>
			<string>NO_DECOMPOSE</string>
		</dict>
	</array>
</dict>
</plist>
